#### Create a pandas series having values 4, 7, -5, 3, NAN and their index as d, b, a, c, e

In [5]:
# Write a code here
import pandas as pd
import numpy as np
index = ["d", "b", "a", "c", "e"]
pd.Series([4,7,-5,3, np.nan], index = index)

d    4.0
b    7.0
a   -5.0
c    3.0
e    NaN
dtype: float64