 ### Create a dataframe in pandas using list and series

In [1]:
#### create a data frame using list


list1 = ['I', 'Love', 'Data', 'Science']

#### create dataframe from Dictionary

city_state = {'Delhi': 'Delhi', 'Mumbai': 'Maharashtra', 'Kolkata': 'West Bengal', 'Banglore': 'Karnataka'}

In [4]:
# Write a code here
import pandas as pd

#create a dataframe using list
pd.DataFrame(list1)

#create a dataframe using series
pd.DataFrame(city_state, index=[0])

   Delhi       Mumbai      Kolkata   Banglore
0  Delhi  Maharashtra  West Bengal  Karnataka

In [ ]:
pd.read